* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ff9933;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    height: 30px;
    width: auto;
    max-height: 100%;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

.menu-link {
    color: #ff9933;
    text-decoration: none;
    font-size: 18px;
}

.jumbotron {
    background-color: #ff9933;
    color: #000000;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.btn {
    text-decoration: underline;
}

.linha {
    display: flex;
    color: #000000;
    width: 100%;
    gap: 15px;
    align-items: center;
    text-align: center;
}

.linha > .coluna:nth-child(1) {
    width: 33.33%;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.linha > .coluna:nth-child(2) {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.linha > .coluna:nth-child(3) {
    width: 33.33%;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 20px;
    gap: 15px;
}

footer {
    background-color: #000000;
    color: #ff9933;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
}